:root {
    --dark: #262626;
    --gray: #B1B2B4;
    --gray-100: #F2F4F5;
    --white: #FFFFFF;
    --blue: #0064FA;
    --blue-100: #EBF3FF;
    --blue-200: #D6E7FF;
    --blue-300: #C8DBF6;
    --background: #F7F7F7;
    --default-border: 16px;
    --dark-gray: #7D7F82;
    --gray-200: #E9EAEB;
    --gray-400: #d0d1d250;
    --red-400: #D64657;
    --red-300: #E6909A;
    --red-200: #F3C8CD;
    --red-100: #F7E6E8;
    --green: #00CC5E;
    --green-100: #DFFAEB;
    --green-400: #84C55D;
    --star-color: #FFC555;
    --system-light-grey: #EFEFEF;
    --mobile-default-border: 12px;
    --line-color: #b1b2b426;
    --yellow-100: #FEF5E3;
}