.userImg {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;
}

.centerImg, .clinicImg {
    width: 280px;
    height: 280px;
    border-radius: 12px
}

@media screen and (min-width: 1440px) and (max-width: 1919px) {
    .centerImg, .clinicImg {
        width: 260px;
        height: 260px;
        border-radius: 11px
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .centerImg, .clinicImg {
        width: 232px;
        height: 232px;
        border-radius: 10px
    }
}

@media screen and (min-width: 393px) and (max-width: 568px) {
    .centerImg, .clinicImg {
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }
}