.btn {
    height: 42px;
    border-radius: 10px;
    font-size: 15px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding: 12px 18px;
    transition: opacity ease-out .5s;
}

.btn:not(.btn:disabled):hover {
    opacity: 80%;
}

.btn:disabled {
    background-color: #7EB2FF !important;
}

@media screen and (min-width: 1440px) and (max-width: 1920px) {
    .btn {
        padding: 12px;
        font-size: 14px;
    }
}