.connection {
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    .list {
        display: grid;
        grid-template-columns: repeat(4, 320px);
        grid-gap: 24px;

        .card {
            width: 100%;
            position: relative;

            .text {
                display: flex;
                flex-direction: column;
                grid-gap: 5px;
            }

            .add {
                width: 208px;
                padding: 16px;
                background-color: var(--blue-100);
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: var(--mobile-default-border);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                grid-gap: 12px;
            }
        }

        .cardWhite {
            display: flex;
            flex-direction: column;
            grid-gap: 24px;
            background-color: var(--white);
            padding: 30px 16px 16px;
            border: 1px solid var(--blue-100);
            border-radius: var(--mobile-default-border);

            img {
                width: 130px;
                height: 130px;
                object-fit: cover;
                margin: 0 auto; 
                border-radius: 100%;
            }
        }
    }
}