.block {
    border: 1px solid var(--blue-100);
    border-radius: var(--mobile-default-border);
    padding: 16px;
}

.sick {
    border-color: var(--red-100);
}

@media screen and (max-width: 1440px) {
    .block {
        padding: 14px;
    }
}

@media screen and (max-width: 1024px) {
    .block {
        padding: 12px;
    }
}