.drop {
    width: 115px;
    background-color: #fff;
    border-radius: var(--mobile-default-border);
    border: 1px solid var(--system-light-grey);

    .block {
        // background-color: var(--system-light-gray);
        height: 50px;
        background-color: #fff;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: var(--mobile-default-border);
    }

    .items {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background-color: #fff;
        border-bottom-left-radius: var(--mobile-default-border);
        border-bottom-right-radius: var(--mobile-default-border);
    }

    &Item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}