.protection {
    position: relative;
    border-radius: 8px;
    padding: 16px;
    border: 1px solid var(--blue-100);
    width: 100%;
    background-color: #fff;

    input {
        padding: 0;
        margin-top: 4px;
        border: none;
        border-radius: 0px;
    }

    img {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 16px;
        top: 35%;
    }
}

.protection.verify {
    border: 1px solid var(--green);
}
