.panel {
    position: fixed;
    bottom: 0;
    background: var(--white);
    width: calc(100% - 736px);
    padding: 12px 20px;
}

@media screen and (max-width: 768px) {
    .panel {
        width: 100%;
    }
}