.chatHeader {
    background-color: var(--white);
    height: 80px;
    width: calc(100% - 736px);
    padding: 12px 20px;
    border: 1px solid var(--blue-100);
    border-top: none;
    position: fixed;
    top: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border-color linear .3s;
}

@media screen and (max-width: 768px) {
    .chatHeader {
        width: 100%;
        top: 0;
    }
}