.item {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 5px;
    width: 100%;
    color: var(--gray);
    cursor: pointer;
    width: calc(223px / 2);

    svg {
        fill: var(--gray);
        z-index: 1;
        width: 20px;
        height: 20px;
    }

    p {
        opacity: 1;
        margin: 0;
    }
}

.item::before {
    content: "";
    width: calc(223px / 2);
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: scaleY(0);
    transition: all 0.3s ease-in-out;
}

.healthy::before {
    background-color: var(--blue-100);
    border-top-left-radius: var(--mobile-default-border);
    border-bottom-left-radius: var(--mobile-default-border);
    transform: scaleY(1);
    z-index: -1;
}

.healthy {
    color: var(--blue);
    transition: ease-in-out 400ms;

    svg {
        fill: var(--blue) !important;
        transition: ease-in-out 400ms;
    }
}

.hover {
    color: var(--dark);
    transition: ease-in-out 0.3s;

    svg {
        fill: var(--dark);
        transition: ease-in-out 0.3s;
    }
}

@media screen and (max-width: 1920px) {
    .item::before {
        height: 52px;
    }
}

@media screen and (max-width: 576px) {
    .item {
        height: 40px;
        p {
            display: none;
        }
    }

    .item::before {
        height: 40px;
        width: calc(132px / 2);
    }
}