.container {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

@media screen and (max-width: 1440px) {
    .container {
        grid-gap: 8px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        padding: 16px;
        width: 100vw;
        position: fixed;
        height: calc(100% - 82px);
        top: 82px;
        overflow-y: auto;
    }
}
