.info {
    display: flex;
    align-items: center;
    cursor: pointer;

    img {
        max-width: 16px;
        height: 16px;
    }

    p {
        font-size: 14px;
    }
}

@media screen and (max-width: 1920px) {
    .info {
        p {
            font-size: 12px;
        }

        img {
            width: 13px;
            height: 13px;
        }
    }
}