.mainText {
    font-size: 18px;
}

@media screen and (max-width: 1024px) {
    .mainText {
        font-size: 17px;
    }
}

@media screen and (max-width: 768px) {
    .mainText {
        font-size: 15px;
    }
}