.info {
    background-color: #fff;
    position: fixed;
    top: 145px;
    height: calc(100% - 145px);
    width: calc(100% - 736px);
    right: 0;
    border-left: 1px solid var(--blue-100);
    padding: 16px;

    .content {
        padding: 16px;
    }

    .filters {
        padding: 0 16px;
        
        .line {
            height: 4px;
            margin-top: 8px;
            background-color: var(--blue);
            border-radius: 8px 8px 0px 0px;
            opacity: 0;
        }
    }

    .block {
        background-color: red;
        width: 176px;
        height: 176px;
        border-radius: 8px;
    }
}