.results {
    background-color: #fff;
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
}

@media screen and (max-width: 768px) {
    .results {
        bottom: 0;
        width: 100%;
        height: 217px;
        top: auto;
    }
}