.switcher {
    display: flex;
    align-items: center;
    border-radius: var(--mobile-default-border);
    border: 1px solid transparent;
    font-family: "Montserrat";
    font-weight: 500;
    height: 56px;
    width: max-content;

    p {
        font-size: 14px;
    }

    svg {
        width: 24px;
        height: 24px;
    }
}

@media screen and (max-width: 1920px) {
    .switcher {
        width: 216px;
        height: 52px;
        
        p {
            font-size: 14px;
        }

        svg {
            width: 20px;
            height: 20px;
        }
    }
}

@media screen and (max-width: 576px) {
    .switcher {
        height: 40px;
        width: 132px;
    }
}