.notfound {
    width: 435px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    grid-gap: 24px;
    align-items: center;

    .container {
        display: flex;
        flex-direction: column;
        grid-gap: 12px;
    }

    img {
        width: 150px;
        height: 150px;
    }
}

@media screen and (max-width: 576px) {
    .notfound {
        width: 100vw;
        padding: 0 15px;

        img {
            width: 120px;
            height: 120px;
        }
    }
}