.searchMap {
    background-color: #fff;
}

.wrapper {
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.width {
    width: 600px;
}

@media screen and (max-width: 1440px) and (min-width: 1024px) {
    .width {
        width: 533px;
    }
}

@media screen and (max-width: 768px) {
    .width {
        width: 100%;

        input {
            width: 100%;
        }
    }

    .wrapper {
        width: 100%;
        transform: none;
        left: 0;
        right: 0;
        padding: 0 16px;
    }
}