.users {
    .search {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .filters {
        display: flex;
        align-items: center;
        grid-gap: 16px;
        margin: 42px 0;

        .filter {
            width: max-content;
            padding: 12px 16px;
            border-radius: 10px;
            cursor: pointer;
        }

        .active {
            background-color: var(--blue);

            h2 {
                color: var(--white) !important;
            }
        }
    }

    .table {
        &Filters {
            display: grid;
            align-items: center;
            justify-content: space-between;
            grid-template-columns: 1.2fr repeat(3, 1fr);
            padding: 0 0px 0px 24px;
        }

        &Filter {
            width: 100%;
            display: flex;
            align-items: center;

            p,
            img {
                cursor: pointer;
            }
        }

        .box {
            background-color: var(--white);
            padding: 24px;
            border-radius: var(--default-border);
            margin-top: 20px;

            .cols {
                display: grid;
                grid-template-columns: 1.2fr repeat(3, 1fr);
                align-items: center;
                padding: 24px 0;
                border-bottom: 2px solid var(--system-light-grey);

                .col {
                    text-align: center;

                    .data {
                        display: flex;
                        align-items: center;
                        grid-gap: 16px;

                        img {
                            width: 70px;
                            height: 70px;
                            object-fit: cover;
                            border-radius: 100%;
                        }

                        .text {
                            display: flex;
                            flex-direction: column;
                            grid-gap: 8px;
                        }

                    }

                    .disease {
                        background-color: var(--blue-100);
                        padding: 12px 16px;
                        border-radius: var(--default-border);
                    }

                }
            }

            .cols:first-child {
                padding-top: 0px;
            }
        }
    }
}