.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    z-index: 2;
    background: rgba(38, 38, 38, 0.40);
    backdrop-filter: blur(30px);

    .content {
        background-color: var(--white);
        border-radius: var(--mobile-default-border);
        padding: 30px 20px 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        width: 460px;
        border: 1px solid var(--blue-100);
    }
}

.modal>*:not(.content) {
    backdrop-filter: blur(30px);
}

@media screen and (max-width: 576px) {
    .modal {
        .content {
            width: calc(100vw - 72px) !important;
            padding: 20px;
            border-radius: 16px;
        }
    }
}