.checkbox input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    max-height: 20px;
    border: 1px solid var(--blue);
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: ease 0.3s;
}

.checkbox input[type="checkbox"]:checked {
    background-color: var(--blue);
    border-color: var(--blue);
}

.checkbox input[type="checkbox"]:checked:after {
    content: url(/assets/check.svg);
    width: 14px;
    height: 14px;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.checkboxRed input[type="checkbox"]:checked {
    background-color: var(--red-400);
    border-color: var(--red-400);
}